In [1]:
import pandas as pd
date_str = '2021-12-06'

In [2]:
%%time
df_MAG_Sel_wRC = pd.read_csv("../Final-Data/Data-Tables-MAG_" + date_str + "/df_MAG_Sel_wRC.csv", sep='\t')
df_MAG_Sel_wRC
# Sel_MAG_Ref_Cite.ipynb

CPU times: user 2min 30s, sys: 40.8 s, total: 3min 11s
Wall time: 3min 11s

,MAGID,DOI,DocType,Year,Date,JID,ConfSID,ConfInsID,C_all,C10,R,C3,C5
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,NaN,1.0,1.0,13.0,1.0,1.0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,NaN,0.0,0.0,37.0,0.0,0.0
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,NaN,0.0,0.0,0.0,0.0,0.0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,4.038532e+06,14.0,14.0,11.0,6.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,NaN,0.0,0.0,14.0,0.0,0.0
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,NaN,0.0,0.0,33.0,0.0,0.0
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,NaN,0.0,0.0,33.0,0.0,0.0
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,3.117406e+09,0.0,0.0,0.0,0.0,0.0

In [4]:
%%time
import numpy as np
SciNet_Papers = df_MAG_Sel_wRC.loc[:,['MAGID','DOI','DocType','Year','Date','JID','ConfSID',
                                      'C_all','C10','R','C5']]
SciNet_Papers.rename(columns={'MAGID':'PaperID', 'JID':'JournalID', 'ConfSID':'ConferenceSeriesID',
                             'C_all':'Citation_Count', 'R':'Reference_Count'}, inplace=True)
SciNet_Papers.loc[SciNet_Papers['Year'] >= 2012, ['C10']] = np.nan
SciNet_Papers.loc[SciNet_Papers['Year'] >= 2017, ['C5']] = np.nan
SciNet_Papers

CPU times: user 9.87 s, sys: 11.4 s, total: 21.3 s
Wall time: 21.1 s

,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,C5
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,1.0,1.0,13.0,1.0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,0.0,0.0,37.0,0.0
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,0.0,0.0,0.0,0.0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,0.0,0.0,0.0,0.0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,NaN,11.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,0.0,NaN,14.0,NaN
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,NaN,33.0,NaN
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,0.0,NaN,0.0,NaN
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,NaN,33.0,NaN
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,NaN,0.0,NaN

In [5]:
SciNet_Papers

,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,C5
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,1.0,1.0,13.0,1.0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,0.0,0.0,37.0,0.0
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,0.0,0.0,0.0,0.0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,0.0,0.0,0.0,0.0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,NaN,11.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,0.0,NaN,14.0,NaN
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,NaN,33.0,NaN
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,0.0,NaN,0.0,NaN
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,NaN,33.0,NaN
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,NaN,0.0,NaN

In [6]:
%%time
SciNet_Team_Institution = pd.read_csv(
    '../Final-Data-Metrics/Data-Count/SciNet_Team_Institution.tsv', sep='\t')
SciNet_Team_Institution

CPU times: user 19.4 s, sys: 3.16 s, total: 22.6 s
Wall time: 22.6 s

              PaperID  Team_Size  Institution_Count
0                  15          2                NaN
1                  23          3                1.0
2                  79          2                NaN
3                 108          1                1.0
4                 125          4                1.0
...               ...        ...                ...
134090306  3217810985          2                NaN
134090307  3217810987          1                NaN
134090308  3217810996          1                NaN
134090309  3217811000          2                1.0
134090310  3217811007          5                1.0

[134090311 rows x 3 columns]

In [7]:
%%time
SciNet_Papers = SciNet_Papers.merge(SciNet_Team_Institution, how='left', on='PaperID')
SciNet_Papers

CPU times: user 2min 53s, sys: 45.2 s, total: 3min 38s
Wall time: 3min 38s

,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,C5,Team_Size,Institution_Count
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,1.0,1.0,13.0,1.0,2.0,NaN
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,0.0,0.0,37.0,0.0,3.0,NaN
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,0.0,0.0,0.0,0.0,1.0,NaN
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,0.0,0.0,0.0,0.0,3.0,NaN
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,NaN,11.0,9.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,0.0,NaN,14.0,NaN,4.0,2.0
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,NaN,33.0,NaN,8.0,3.0
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,0.0,NaN,0.0,NaN,3.0,NaN
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,NaN,33.0,NaN,2.0,1.0
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,NaN,0.0,NaN,6.0,1.0

In [8]:
%%time
df_Disruption_Sel = pd.read_csv('../Final-Data-Metrics/Data-Count/PaperID_Disruption.tsv', sep='\t')
df_Disruption_Sel

CPU times: user 11 s, sys: 1.36 s, total: 12.3 s
Wall time: 12.4 s

             PaperID  Disruption
0         2155007194    0.000000
1         2048600620    0.013755
2         2098055837    0.002632
3         1973725016    0.272727
4         2084894991    0.008386
...              ...         ...
48581269  3121851596    0.000135
48581270  2805568243    0.000037
48581271  2913469549    0.000099
48581272  2941016910    0.000138
48581273  3191450554   -0.000045

[48581274 rows x 2 columns]

In [9]:
%%time
df_Atyp_Comb = pd.read_csv('../Final-Data-Metrics/Data-Count/SciNet-Atyp-Comb-Final.tsv', sep='\t')
df_Atyp_Comb

CPU times: user 16.7 s, sys: 2.71 s, total: 19.5 s
Wall time: 19.5 s

             PaperID  Atyp_10pct_Z  Atyp_Pairs  Atyp_Median_Z
0         1998313676     -4.422005          96      19.368706
1         2049488472     37.604445           6     125.532838
2         1974587030     51.394731           3     140.155683
3         2068982305     36.862302           4      69.090447
4         2415374851     -6.506493         278       4.694048
...              ...           ...         ...            ...
44143645  3197104706     -6.768059         794      89.677577
44143646  3198876793      3.400000          12      33.677731
44143647  3204357951    -17.140715         139       6.344107
44143648  3206451942     -5.366758         179      82.135406
44143649  3215845741     -9.281575         259       7.654166

[44143650 rows x 4 columns]

In [10]:
%%time
df_SB = pd.read_csv('../Final-Data-Metrics/Data-Count/SciNet-SleepingBeauty.tsv', sep='\t')
df_SB

CPU times: user 9.72 s, sys: 1.27 s, total: 11 s
Wall time: 11 s

             PaperID  SB_B  SB_T
0         2155007194   2.0     4
1          132242577   3.0     3
2         1973725016   0.0     0
3         2084894991   7.0    11
4         2091764496   0.0     0
...              ...   ...   ...
52699358  3217697823   0.0     0
52699359  3135685316   0.0     0
52699360  3210317655   0.0     0
52699361  3173517954   4.5     9
52699362  2997914469   0.0     0

[52699363 rows x 3 columns]

In [11]:
%%time
SciNet_Papers = SciNet_Papers.merge(df_Disruption_Sel, how='left', on='PaperID')
SciNet_Papers = SciNet_Papers.merge(df_Atyp_Comb, how='left', on='PaperID')
SciNet_Papers = SciNet_Papers.merge(df_SB, how='left', on='PaperID')
SciNet_Papers

CPU times: user 6min 36s, sys: 1min 56s, total: 8min 32s
Wall time: 8min 32s

,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,C5,Team_Size,Institution_Count,Disruption,Atyp_10pct_Z,Atyp_Pairs,Atyp_Median_Z,SB_B,SB_T
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,1.0,1.0,13.0,1.0,2.0,NaN,-0.001927,5.500000,8.0,17.556042,NaN,NaN
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,0.0,0.0,37.0,0.0,3.0,NaN,NaN,-6.808986,238.0,3.464382,NaN,NaN
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,0.0,0.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,NaN,11.0,9.0,3.0,1.0,-0.004613,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,0.0,NaN,14.0,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,NaN,33.0,NaN,8.0,3.0,NaN,-9.281575,259.0,7.654166,NaN,NaN
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,0.0,NaN,0.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,NaN,33.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,NaN,0.0,NaN,6.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
SciNet_Papers[pd.notnull(SciNet_Papers['SB_B'])]

,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,C5,Team_Size,Institution_Count,Disruption,Atyp_10pct_Z,Atyp_Pairs,Atyp_Median_Z,SB_B,SB_T
9,23032558,NaN,Journal,1997.0,1997-10-01,2.755314e+09,NaN,4.0,3.0,0.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,1.500000,3.0
14,33698157,NaN,Journal,1961.0,1961-12-31,1.052089e+08,NaN,1.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,6.000000,12.0
15,35428871,10.1023/A:1022270923160,Journal,1998.0,1998-01-01,2.016092e+08,NaN,6.0,2.0,16.0,0.0,2.0,1.0,0.001411,-18.433685,28.0,-0.401707,4.000000,8.0
28,55534668,10.1080/00401706.2016.1251495,Journal,2017.0,2017-04-27,9.853030e+05,NaN,61.0,NaN,34.0,NaN,2.0,1.0,-0.003243,-6.489632,125.0,15.541692,-0.214286,1.0
30,62531800,10.1016/S1474-6670(17)53737-4,Journal,1988.0,1988-09-01,2.898247e+09,NaN,4.0,4.0,7.0,4.0,2.0,1.0,-0.001067,90.196303,5.0,502.288680,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134129083,3148693152,NaN,Journal,1995.0,1995-03-15,1.324228e+07,NaN,2.0,0.0,0.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,5.000000,10.0
134129089,3157346146,10.1002/LOM3.10435,Journal,2021.0,2021-06-01,1.063772e+08,NaN,1.0,NaN,45.0,NaN,4.0,3.0,-0.000088,-22.799163,333.0,37.620979,0.000000,0.0
134129097,3162221167,10.3390/V13050938,Journal,2021.0,2021-05-19,5.577627e+07,NaN,18.0,NaN,34.0,NaN,17.0,4.0,-0.000396,-10.802434,282.0,66.719050,0.000000,0.0
134129110,3172265627,10.1507/ENDOCRJ.EJ21-0245,Journal,2021.0,2021-06-08,1.913878e+08,NaN,3.0,NaN,0.0,NaN,6.0,1.0,NaN,NaN,NaN,NaN,0.000000,0.0
134129129,3183316668,10.3389/FCVM.2021.713170,Journal,2021.0,2021-07-22,2.595414e+09,NaN,1.0,NaN,136.0,NaN,22.0,5.0,-0.000023,2.782533,3105.0,74.749081,0.000000,0.0

In [13]:
%%time
SciNet_Link_Patent = pd.read_csv('../Final-SciNet-Tables/SciNet_Link_Paper_Patents.tsv', sep='\t')
SciNet_Link_Patent = SciNet_Link_Patent.drop_duplicates()
SciNet_Link_Patent_cnt = SciNet_Link_Patent.groupby(
    ['PaperID'],as_index=False)['PatentID'].agg(['count']).reset_index().sort_values(['count'], ascending=False)
SciNet_Link_Patent_cnt.rename(columns={'count':'Patent_Count'}, inplace=True)
SciNet_Link_Patent_cnt

CPU times: user 49.9 s, sys: 4.76 s, total: 54.6 s
Wall time: 54.7 s

            PaperID  Patent_Count
2211936  2030522563         29270
2766472  2055043387         28585
476215   1594700207         28185
4407824  2144634347         22600
3198534  2074231493         19873
...             ...           ...
2790052  2056071356             1
2790053  2056071436             1
2790054  2056071453             1
2790055  2056071454             1
2912463  2061465702             1

[5824926 rows x 2 columns]

In [14]:
%%time
SciNet_Link_Newsfeed = pd.read_csv('../Final-SciNet-Tables/SciNet_Link_Paper_Newsfeed.tsv', sep='\t')
SciNet_Link_Newsfeed = SciNet_Link_Newsfeed.drop_duplicates()
SciNet_Link_Newsfeed_cnt = SciNet_Link_Newsfeed.groupby(
    ['PaperID'],as_index=False)['NewsfeedID'].agg(['count']).reset_index().sort_values(['count'], ascending=False)
SciNet_Link_Newsfeed_cnt.rename(columns={'count':'Newsfeed_Count'}, inplace=True)
SciNet_Link_Newsfeed_cnt

CPU times: user 1.15 s, sys: 73.5 ms, total: 1.22 s
Wall time: 1.27 s

           PaperID  Newsfeed_Count
178468  2903024234             581
56828   2083017097             438
51990   2070544768             338
24922   2000601723             323
221       34448736             322
...            ...             ...
68254   2113152627               1
168165  2889805022               1
168166  2889806379               1
168167  2889806840               1
0            42620               1

[307959 rows x 2 columns]

In [15]:
%%time
SciNet_Link_Twitter = pd.read_csv('../Final-SciNet-Tables/SciNet_Link_Paper_Twitter.tsv', sep='\t')
SciNet_Link_Twitter = SciNet_Link_Twitter.drop_duplicates()
SciNet_Link_Twitter_cnt = SciNet_Link_Twitter.groupby(
    ['PaperID'],as_index=False)['TweetID'].agg(['count']).reset_index().sort_values(['count'], ascending=False)
SciNet_Link_Twitter_cnt.rename(columns={'count':'Twitter_Count'}, inplace=True)
SciNet_Link_Twitter_cnt

CPU times: user 48.3 s, sys: 7.36 s, total: 55.7 s
Wall time: 55.7 s

            PaperID  Twitter_Count
3518583  3126435836         159156
3866066  3168908540          68034
4229470  3208367711          61323
4166140  3202290156          55038
3952705  3179398509          53954
...             ...            ...
1943575  2910106309              1
1943576  2910106596              1
1943577  2910106630              1
1943590  2910107855              1
4329442  3217810947              1

[4329443 rows x 2 columns]

In [16]:
%%time
SciNet_Link_ClinicalTrials = pd.read_csv('../Final-SciNet-Tables/SciNet_Link_Paper_ClinicalTrials.tsv', sep='\t')
SciNet_Link_ClinicalTrials = SciNet_Link_ClinicalTrials.drop_duplicates()
SciNet_Link_ClinicalTrials_cnt = SciNet_Link_ClinicalTrials.groupby(
    ['PaperID'],as_index=False)['NCT_Number'].agg(['count']).reset_index().sort_values(['count'], ascending=False)
SciNet_Link_ClinicalTrials_cnt.rename(columns={'count':'NCT_Count'}, inplace=True)
SciNet_Link_ClinicalTrials_cnt

CPU times: user 386 ms, sys: 16 ms, total: 402 ms
Wall time: 432 ms

           PaperID  NCT_Count
217028  2132322340        146
265952  2253311584        114
65400   1996299251        104
329231  3001118548        103
238100  2151487996         95
...            ...        ...
122225  2047074132          1
122224  2047073643          1
122223  2047072666          1
122222  2047071958          1
337429  3217652281          1

[337430 rows x 2 columns]

In [17]:
%%time
SciNet_Link_NIH = pd.read_csv('../Final-SciNet-Tables/SciNet_Link_Paper_NIH.tsv', sep='\t')
SciNet_Link_NIH = SciNet_Link_NIH.drop_duplicates()
SciNet_Link_NIH_cnt = SciNet_Link_NIH.groupby(
    ['PaperID'],as_index=False)['NIH_Project_Number'].agg(['count']).reset_index().sort_values(['count'], ascending=False)
SciNet_Link_NIH_cnt.rename(columns={'count':'NIH_Count'}, inplace=True)
SciNet_Link_NIH_cnt

CPU times: user 5.24 s, sys: 251 ms, total: 5.49 s
Wall time: 5.51 s

            PaperID  NIH_Count
935745   2040964350        192
2189272  2519445944        190
2294848  2752326209        187
2416778  2898585601        181
1755852  2144405108        151
...             ...        ...
1491723  2105290019          1
425069   1984293659          1
1491718  2105289374          1
1491717  2105289202          1
2636060  3217639638          1

[2636061 rows x 2 columns]

In [18]:
%%time
SciNet_Link_NSF = pd.read_csv('../Final-SciNet-Tables/SciNet_Link_Paper_NSF.tsv', sep='\t')
SciNet_Link_NSF = SciNet_Link_NSF.drop_duplicates(subset=['NSF_Award_Number','PaperID'],keep='first')
SciNet_Link_NSF_cnt = SciNet_Link_NSF.groupby(
    ['PaperID'],as_index=False)['NSF_Award_Number'].agg(['count']).reset_index().sort_values(['count'], ascending=False)
SciNet_Link_NSF_cnt.rename(columns={'count':'NSF_Count'}, inplace=True)
SciNet_Link_NSF_cnt

CPU times: user 1.55 s, sys: 35 ms, total: 1.58 s
Wall time: 1.62 s

           PaperID  NSF_Count
905633  3170380418         75
922403  3204827457         71
908634  3175470323         63
691972  2897065650         61
883530  3128332531         60
...            ...        ...
347295  2104213496          1
347296  2104213838          1
347297  2104214231          1
347298  2104214726          1
464629  2169105129          1

[929258 rows x 2 columns]

In [19]:
%%time
SciNet_Papers = SciNet_Papers.merge(SciNet_Link_Patent_cnt, how='left', on='PaperID')
SciNet_Papers = SciNet_Papers.merge(SciNet_Link_Newsfeed_cnt, how='left', on='PaperID')
SciNet_Papers = SciNet_Papers.merge(SciNet_Link_Twitter_cnt, how='left', on='PaperID')
SciNet_Papers = SciNet_Papers.merge(SciNet_Link_ClinicalTrials_cnt, how='left', on='PaperID')
SciNet_Papers = SciNet_Papers.merge(SciNet_Link_NIH_cnt, how='left', on='PaperID')
SciNet_Papers = SciNet_Papers.merge(SciNet_Link_NSF_cnt, how='left', on='PaperID')
SciNet_Papers

CPU times: user 11min 37s, sys: 4min 40s, total: 16min 18s
Wall time: 16min 17s

,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,...,Atyp_Pairs,Atyp_Median_Z,SB_B,SB_T,Patent_Count,Newsfeed_Count,Twitter_Count,NCT_Count,NIH_Count,NSF_Count
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,1.0,1.0,13.0,...,8.0,17.556042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,0.0,0.0,37.0,...,238.0,3.464382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,NaN,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,0.0,NaN,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,NaN,33.0,...,259.0,7.654166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,NaN,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
%%time
SciNet_Papers['Patent_Count'].fillna(0, inplace=True)
SciNet_Papers['Newsfeed_Count'].fillna(0, inplace=True)
SciNet_Papers['Twitter_Count'].fillna(0, inplace=True)
SciNet_Papers['NCT_Count'].fillna(0, inplace=True)
SciNet_Papers['NIH_Count'].fillna(0, inplace=True)
SciNet_Papers['NSF_Count'].fillna(0, inplace=True)
SciNet_Papers

CPU times: user 2.43 s, sys: 877 ms, total: 3.31 s
Wall time: 3.31 s

,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,...,Atyp_Pairs,Atyp_Median_Z,SB_B,SB_T,Patent_Count,Newsfeed_Count,Twitter_Count,NCT_Count,NIH_Count,NSF_Count
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,1.0,1.0,13.0,...,8.0,17.556042,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,0.0,0.0,37.0,...,238.0,3.464382,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,NaN,11.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,0.0,NaN,14.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,NaN,33.0,...,259.0,7.654166,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,NaN,33.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
%%time
SciNet_Papers['Patent_Count'] = SciNet_Papers['Patent_Count'].astype(int)
SciNet_Papers['Newsfeed_Count'] = SciNet_Papers['Newsfeed_Count'].astype(int)
SciNet_Papers['Twitter_Count'] = SciNet_Papers['Twitter_Count'].astype(int)
SciNet_Papers['NCT_Count'] = SciNet_Papers['NCT_Count'].astype(int)
SciNet_Papers['NIH_Count'] = SciNet_Papers['NIH_Count'].astype(int)
SciNet_Papers['NSF_Count'] = SciNet_Papers['NSF_Count'].astype(int)
SciNet_Papers

CPU times: user 4 s, sys: 7.32 s, total: 11.3 s
Wall time: 11.3 s

,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,...,Atyp_Pairs,Atyp_Median_Z,SB_B,SB_T,Patent_Count,Newsfeed_Count,Twitter_Count,NCT_Count,NIH_Count,NSF_Count
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,1.0,1.0,13.0,...,8.0,17.556042,NaN,NaN,0,0,0,0,0,0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,0.0,0.0,37.0,...,238.0,3.464382,NaN,NaN,0,0,0,0,0,0
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,NaN,11.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,0.0,NaN,14.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,NaN,33.0,...,259.0,7.654166,NaN,NaN,0,0,0,0,0,0
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,NaN,33.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0

In [24]:
%%time
SciNet_Papers.rename(columns={'Twitter_Count':'Tweet_Count'},inplace=True)
SciNet_Papers

CPU times: user 733 Âµs, sys: 547 Âµs, total: 1.28 ms
Wall time: 1.29 ms

,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,...,Atyp_Pairs,Atyp_Median_Z,SB_B,SB_T,Patent_Count,Newsfeed_Count,Tweet_Count,NCT_Count,NIH_Count,NSF_Count
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,1.0,1.0,13.0,...,8.0,17.556042,NaN,NaN,0,0,0,0,0,0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,0.0,0.0,37.0,...,238.0,3.464382,NaN,NaN,0,0,0,0,0,0
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,NaN,11.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,0.0,NaN,14.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,NaN,33.0,...,259.0,7.654166,NaN,NaN,0,0,0,0,0,0
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,NaN,33.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0

In [25]:
%%time
SciNet_Papers

CPU times: user 4 Âµs, sys: 2 Âµs, total: 6 Âµs
Wall time: 13.8 Âµs

,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,...,Atyp_Pairs,Atyp_Median_Z,SB_B,SB_T,Patent_Count,Newsfeed_Count,Tweet_Count,NCT_Count,NIH_Count,NSF_Count
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,1.0,1.0,13.0,...,8.0,17.556042,NaN,NaN,0,0,0,0,0,0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,0.0,0.0,37.0,...,238.0,3.464382,NaN,NaN,0,0,0,0,0,0
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,NaN,11.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,0.0,NaN,14.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,NaN,33.0,...,259.0,7.654166,NaN,NaN,0,0,0,0,0,0
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,NaN,33.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0

In [26]:
# SciNet_Papers.to_csv('../Final-SciNet-Tables/SciNet_Papers.tsv', sep='\t', index=False)