In [1]:
date_str = "2021-12-06"

In [2]:
%%time
import csv
import pandas as pd

df_MAG = pd.read_csv('../../MAG_'+date_str+'/mag/Papers.txt', sep='\t', header=None, quoting=csv.QUOTE_NONE, 
                      usecols=[0,2,3,4,7,8,11,12,13,18,19,22,24])
# https://docs.microsoft.com/en-us/academic-services/graph/reference-data-schema#papers
# Read MAG data.
# 0:MAG_PaperId; 2:DOI; 3:DocType; 7:Year; 8:Date; 11:JournalId; 12:ConferenceSeriesId; 13:ConferenceInstanceId;
# 18:ReferenceCount; 19:CitationCount; 20:EstimatedCitation; 22:FamilyId; 24:DocSubTypes.

df_MAG

/home/zla6184/.conda/envs/newcv/lib/python3.9/site-packages/IPython/core/magics/execution.py:1321: DtypeWarning: Columns (24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code, glob, local_ns)

CPU times: user 14min 26s, sys: 1min 39s, total: 16min 5s
Wall time: 16min 7s

,0,2,3,4,7,8,11,12,13,18,19,22,24
0,248996,NaN,Patent,synthesis of acrylamide from acrylonitrile,1972.0,1972-06-05,NaN,NaN,NaN,0,4,NaN,NaN
1,2906390199,NaN,NaN,the impact of different organizational forms o...,2004.0,2004-01-01,NaN,NaN,NaN,0,0,760496.0,NaN
2,760496,NaN,NaN,the impact of different organizational forms o...,2004.0,2004-01-01,NaN,NaN,NaN,0,2,760496.0,NaN
3,1727602,NaN,Patent,verfahren zur herstellung von pvc hart folien,1989.0,1989-12-14,NaN,NaN,NaN,0,0,1727602.0,NaN
4,2401921836,NaN,Patent,process for the production of rigid pvc foils,1989.0,1989-06-05,NaN,NaN,NaN,3,7,1727602.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
270694045,3216456912,NaN,NaN,proto col red interuniversitaria de trabajo co...,2019.0,2019-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270694046,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,causal implementation of rate independent line...,2022.0,2022-01-01,2.898443e+09,NaN,NaN,35,0,NaN,NaN
270694047,3217083104,NaN,NaN,wyrazanie dezaprobaty wobec postawy partnera w...,2007.0,2007-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270694048,3217401253,NaN,NaN,technical efficiency and equity effects of env...,2021.0,2021-11-22,NaN,NaN,NaN,24,0,NaN,NaN
270694049,3217727977,10.1109/MLISE54096.2021.00043,Conference,network security intelligence information extr...,2021.0,2021-07-09,NaN,1.180663e+09,3.117406e+09,0,0,NaN,NaN

In [3]:
df_MAG_filter = df_MAG.loc[((pd.isnull(df_MAG[3])) & (pd.isnull(df_MAG[2]))), :]
df_MAG_filter

,0,2,3,4,7,8,11,12,13,18,19,22,24
1,2906390199,NaN,NaN,the impact of different organizational forms o...,2004.0,2004-01-01,NaN,NaN,NaN,0,0,760496.0,NaN
2,760496,NaN,NaN,the impact of different organizational forms o...,2004.0,2004-01-01,NaN,NaN,NaN,0,2,760496.0,NaN
28,3160190892,NaN,NaN,can functional programming be liberated from t...,1994.0,1994-01-01,NaN,NaN,NaN,0,6,9694411.0,NaN
46,16813705,NaN,NaN,cohn bendit el zurdo mas diestro,1987.0,1987-01-01,NaN,NaN,NaN,0,0,16813705.0,NaN
47,191075414,NaN,NaN,cohn bendit el zurdo mas diestro,1985.0,1985-01-01,NaN,NaN,NaN,0,0,16813705.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
270694036,3213456909,NaN,NaN,unconverted church members,1910.0,1910-01-10,NaN,NaN,NaN,0,0,NaN,NaN
270694037,3213775800,NaN,NaN,右心室ペーサーの左胸壁への侵食 jst 京大機械翻訳,2020.0,2020-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270694045,3216456912,NaN,NaN,proto col red interuniversitaria de trabajo co...,2019.0,2019-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270694047,3217083104,NaN,NaN,wyrazanie dezaprobaty wobec postawy partnera w...,2007.0,2007-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270694048,3217401253,NaN,NaN,technical efficiency and equity effects of env...,2021.0,2021-11-22,NaN,NaN,NaN,24,0,NaN,NaN

In [4]:
%%time
df_MAG_filter.loc[((df_MAG_filter[18]==0) &(df_MAG_filter[19]==0)),:]

CPU times: user 4.72 s, sys: 1.94 s, total: 6.66 s
Wall time: 6.64 s

,0,2,3,4,7,8,11,12,13,18,19,22,24
1,2906390199,NaN,NaN,the impact of different organizational forms o...,2004.0,2004-01-01,NaN,NaN,NaN,0,0,760496.0,NaN
46,16813705,NaN,NaN,cohn bendit el zurdo mas diestro,1987.0,1987-01-01,NaN,NaN,NaN,0,0,16813705.0,NaN
47,191075414,NaN,NaN,cohn bendit el zurdo mas diestro,1985.0,1985-01-01,NaN,NaN,NaN,0,0,16813705.0,NaN
48,17001766,NaN,NaN,la religion y el contexto cultural,2011.0,2011-01-01,NaN,NaN,NaN,0,0,17001766.0,NaN
49,56500560,NaN,NaN,la religion y el contexto cultural,2010.0,2010-01-01,NaN,NaN,NaN,0,0,17001766.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
270694025,3209793724,NaN,NaN,pilosite feminine le role des marques dans la ...,2019.0,2019-09-13,NaN,NaN,NaN,0,0,NaN,NaN
270694036,3213456909,NaN,NaN,unconverted church members,1910.0,1910-01-10,NaN,NaN,NaN,0,0,NaN,NaN
270694037,3213775800,NaN,NaN,右心室ペーサーの左胸壁への侵食 jst 京大機械翻訳,2020.0,2020-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270694045,3216456912,NaN,NaN,proto col red interuniversitaria de trabajo co...,2019.0,2019-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270694047,3217083104,NaN,NaN,wyrazanie dezaprobaty wobec postawy partnera w...,2007.0,2007-01-01,NaN,NaN,NaN,0,0,NaN,NaN

In [16]:
%%time
df_MAG_filter.loc[((df_MAG_filter[18]==0) &(df_MAG_filter[19]==0)),:].tail(50)

CPU times: user 4.38 s, sys: 1.95 s, total: 6.32 s
Wall time: 6.31 s

,0,2,3,4,7,8,11,12,13,18,19,22,24
270693882,3163903434,NaN,NaN,representations of solutions of hyperbolic equ...,2001.0,2001-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693886,3165228458,NaN,NaN,technology and assessment of safety critical s...,1994.0,1994-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693888,3165893219,NaN,NaN,2030년대 서울경제 전망,2014.0,2014-12-01,NaN,NaN,NaN,0,0,NaN,NaN
270693889,3166195285,NaN,NaN,desain perpipaan gas distribusi untuk perumaha...,2015.0,2015-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693891,3166691164,NaN,NaN,european public law,2003.0,2003-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693893,3167272921,NaN,NaN,思春期の性同一性障害 mtf 症例の行動と心理,2009.0,2009-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693897,3168479018,NaN,NaN,libguides anti racism resources colorado speci...,2020.0,2020-08-12,NaN,NaN,NaN,0,0,NaN,NaN
270693902,3169949739,NaN,NaN,타인에 의한 타당화 욕구 눈치 사회적 자기효능감이 청소년의 대인관계에 미치는 영향,2020.0,2020-07-01,NaN,NaN,NaN,0,0,NaN,NaN
270693909,3171958468,NaN,NaN,特別支援教育実践 放射線と子どもの健康 絵本やビデオの視聴 実習をとおして考えよう 特集 家...,2017.0,2017-06-01,NaN,NaN,NaN,0,0,NaN,NaN
270693914,3173456204,NaN,NaN,machine learning approaches in neuroscience be...,2021.0,2021-04-01,NaN,NaN,NaN,0,0,NaN,NaN
270693916,3174167426,NaN,NaN,凍結融解胚移植周期の妊娠結果に対するゴナドトロピンの使用時間と用量の影響 jst 京大機械翻訳,2020.0,2020-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693918,3174870546,NaN,NaN,determination of 125 sb and 129 i in radioacti...,2017.0,2017-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693921,3175894652,NaN,NaN,research wr150 peace conflict philosophy of ar...,2019.0,2019-02-12,NaN,NaN,NaN,0,0,NaN,NaN
270693926,3177650340,NaN,NaN,les limites de l union africaine dans la resol...,2018.0,2018-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693929,3125004393,NaN,NaN,a study on the influence of the image of local...,2017.0,2017-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693946,3182762390,NaN,NaN,풋백옵션제도가 신주공모가의 저평가 현상에 끼친 영향,2008.0,2008-11-01,NaN,NaN,NaN,0,0,NaN,NaN
270693949,3183653335,NaN,NaN,بررسی و تحلیل انحرافات اجتماعی در جوامع حاشیهن...,2014.0,2014-04-21,NaN,NaN,NaN,0,0,NaN,NaN
270693951,3184292673,NaN,NaN,papivole volume 1,1982.0,1982-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693952,3184606494,NaN,NaN,studies on frequency dependence of an effect b...,2017.0,2017-11-10,NaN,NaN,NaN,0,0,NaN,NaN
270693956,3185925873,NaN,NaN,hospic sv michaela,2014.0,2014-02-03,NaN,NaN,NaN,0,0,NaN,NaN
270693957,3186242333,NaN,NaN,画像iotプラットフォーム forxai フォーサイ の開発と今後の展開 特集 aiと5g,2021.0,2021-05-01,NaN,NaN,NaN,0,0,NaN,NaN
270693961,3187807944,NaN,NaN,성공보수약정에 대한 외국법의 규율동향 2015년 대법원판결 이후 실태변화와 중국의 ...,2018.0,2018-06-01,NaN,NaN,NaN,0,0,NaN,NaN
270693965,3189867970,NaN,NaN,japan and canada enhancing security cooperation,2018.0,2018-06-01,NaN,NaN,NaN,0,0,NaN,NaN
270693968,3191382756,NaN,NaN,sacrifier l individu a l unite de la nation et...,2014.0,2014-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693969,3191887770,NaN,NaN,pva 섬유와 vae 분말 폴리머를 사용한 시멘트복합체의 압축 휨강도 및 온도변화에...,2019.0,2019-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693970,3192399949,NaN,NaN,a study on the effect of public institutions l...,2021.0,2021-06-01,NaN,NaN,NaN,0,0,NaN,NaN
270693974,3194034008,NaN,NaN,кожаевское марганцевое месторождение южный ура...,2007.0,2007-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693975,3194329879,NaN,NaN,studies of oxide scales grown on high temperat...,2012.0,2012-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693977,3194963315,NaN,NaN,the renin angiotensin system in the control of...,1977.0,1977-07-06,NaN,NaN,NaN,0,0,NaN,NaN
270693978,3195279209,NaN,NaN,organizacion de recursos programa manejo de pr...,1979.0,1979-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693981,3196201625,NaN,NaN,diagnostic value of cd138 in patients with chr...,2020.0,2020-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693982,3196490335,NaN,NaN,te t taki place time biculturalism and the pos...,2013.0,2013-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693991,3199162959,NaN,NaN,a study of leader s personality the case of pr...,2011.0,2011-09-01,NaN,NaN,NaN,0,0,NaN,NaN
270693992,3199466353,NaN,NaN,living with lynching by koritha mitchell liter...,2011.0,2011-10-01,NaN,NaN,NaN,0,0,NaN,NaN
270693993,3199742617,NaN,NaN,practice of online workshop,2020.0,2020-09-01,NaN,NaN,NaN,0,0,NaN,NaN
270693994,3200024036,NaN,NaN,pladeco concon 2018 2022,2017.0,2017-11-01,NaN,NaN,NaN,0,0,NaN,NaN
270693995,3200292071,NaN,NaN,courses on the environment a student guide to ...,1987.0,1987-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693996,3125848328,NaN,NaN,section i of h p wilkins 300 inch map of the moon,1950.0,1950-11-01,NaN,NaN,NaN,0,0,NaN,NaN
270693997,3200882053,NaN,NaN,the selection of varieties of cherry with tria...,2013.0,2013-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270693998,3201183965,NaN,NaN,기판 고정형 이산화티타늄 나노선 제조 및 광촉매 활성 평가,2011.0,2011-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270694002,3202266876,NaN,NaN,위임직 채권추심인 사건 및 유사직종 사건을 대상으로 한 판례 비교분석,2016.0,2016-07-01,NaN,NaN,NaN,0,0,NaN,NaN
270694017,3207191925,NaN,NaN,o 1 b16 nicuを退院した脳性麻痺児の医療的ケア,2014.0,2014-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270694019,3207916762,NaN,NaN,velazquez goya and the dehumanization of art e...,1972.0,1972-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270694020,3208271025,NaN,NaN,明治二十六年 和協の詔勅 と 内廷費献金録 第四議会における帝国憲法第六十七条の議論を中心に,2016.0,2016-12-01,NaN,NaN,NaN,0,0,NaN,NaN
270694021,3208582265,NaN,NaN,teaching about families bibliography,2010.0,2010-04-26,NaN,NaN,NaN,0,0,NaN,NaN
270694025,3209793724,NaN,NaN,pilosite feminine le role des marques dans la ...,2019.0,2019-09-13,NaN,NaN,NaN,0,0,NaN,NaN
270694036,3213456909,NaN,NaN,unconverted church members,1910.0,1910-01-10,NaN,NaN,NaN,0,0,NaN,NaN
270694037,3213775800,NaN,NaN,右心室ペーサーの左胸壁への侵食 jst 京大機械翻訳,2020.0,2020-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270694045,3216456912,NaN,NaN,proto col red interuniversitaria de trabajo co...,2019.0,2019-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270694047,3217083104,NaN,NaN,wyrazanie dezaprobaty wobec postawy partnera w...,2007.0,2007-01-01,NaN,NaN,NaN,0,0,NaN,NaN

In [6]:
%%time
df_MAG_filter_Y = df_MAG_filter.loc[((df_MAG_filter[18]!=0) |(df_MAG_filter[19]!=0)),:]
df_MAG_filter_Y

CPU times: user 1.74 s, sys: 671 ms, total: 2.41 s
Wall time: 2.41 s

,0,2,3,4,7,8,11,12,13,18,19,22,24
2,760496,NaN,NaN,the impact of different organizational forms o...,2004.0,2004-01-01,NaN,NaN,NaN,0,2,760496.0,NaN
28,3160190892,NaN,NaN,can functional programming be liberated from t...,1994.0,1994-01-01,NaN,NaN,NaN,0,6,9694411.0,NaN
203,64061300,NaN,NaN,stagnation point heat transfer with gas inject...,2005.0,2005-04-01,NaN,NaN,NaN,0,1,64061300.0,NaN
259,2626250880,NaN,NaN,customer value and lean operations in masters ...,2012.0,2012-01-01,NaN,NaN,NaN,37,4,84153242.0,NaN
292,99428037,NaN,NaN,determinantes de la transparencia contable en ...,2013.0,2013-01-01,NaN,NaN,NaN,0,3,99428037.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
270693898,3168800240,NaN,NaN,rekayasa genetik untuk perbaikan tanaman,1996.0,1996-01-01,NaN,NaN,NaN,0,1,NaN,NaN
270693964,3189349818,NaN,NaN,technological development for partitioning of ...,2010.0,2010-01-01,NaN,NaN,NaN,0,1,NaN,NaN
270693971,3192936963,NaN,NaN,the correlation between the number of rapd loc...,1998.0,1998-01-01,NaN,NaN,NaN,0,1,NaN,NaN
270694028,3210719482,NaN,NaN,towards learning from graph representable form...,2021.0,2021-01-01,NaN,NaN,NaN,14,0,NaN,NaN
270694048,3217401253,NaN,NaN,technical efficiency and equity effects of env...,2021.0,2021-11-22,NaN,NaN,NaN,24,0,NaN,NaN

In [8]:
%matplotlib inline

In [11]:
%%time
df_MAG_filter.groupby([18],as_index=False)[0].agg(['count']).reset_index()

CPU times: user 1.11 s, sys: 463 ms, total: 1.58 s
Wall time: 1.57 s

         18     count
0         0  62703946
1         1    584916
2         2    436231
3         3    335453
4         4    292092
...     ...       ...
1137   5945         1
1138   6114         1
1139   7163         1
1140   8783         1
1141  13872         1

[1142 rows x 2 columns]

In [13]:
df_MAG_filter_Y[df_MAG_filter_Y[19] == 47202]

,0,2,3,4,7,8,11,12,13,18,19,22,24
263026036,2298230951,NaN,NaN,official methods of analysis,1980.0,1980-02-01,NaN,NaN,NaN,0,47202,NaN,NaN

In [15]:
df_MAG_filter_Y[df_MAG_filter_Y[19] == 48]

,0,2,3,4,7,8,11,12,13,18,19,22,24
98463,2184104710,NaN,NaN,the early life history of the pacific hake mer...,1982.0,1982-01-01,NaN,NaN,NaN,14,48,NaN,NaN
177786,2101436503,NaN,NaN,the cooltown user experience,2001.0,2001-01-01,NaN,NaN,NaN,5,48,NaN,NaN
192661,3205951964,NaN,NaN,mammals of the eastern mediterranean region th...,1978.0,1978-01-01,NaN,NaN,NaN,0,48,NaN,NaN
345644,2482070675,NaN,NaN,an outsider s view of manet,2002.0,2002-03-20,NaN,NaN,NaN,0,48,NaN,NaN
372922,2212668043,NaN,NaN,time frequency toolbox for use with mathlab,1997.0,1997-01-01,NaN,NaN,NaN,0,48,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
270340549,1640359061,NaN,NaN,a review of spartina management in washington ...,2003.0,2003-07-01,NaN,NaN,NaN,13,48,NaN,NaN
270424157,1967795570,NaN,NaN,performance evaluations of pump and treat reme...,1996.0,1996-01-01,NaN,NaN,NaN,1,48,NaN,NaN
270654333,568410491,NaN,NaN,philosophy of science the delaware seminar,1963.0,1963-01-01,NaN,NaN,NaN,0,48,NaN,NaN
270675536,2308019473,NaN,NaN,sustainable remediation white paper integratin...,2009.0,2009-01-01,NaN,NaN,NaN,20,48,NaN,NaN
270691918,13613824,NaN,NaN,hierarchical geometric approximations,1994.0,1994-08-26,NaN,NaN,NaN,43,48,NaN,NaN

In [14]:
%%time
df_MAG_filter.groupby([19],as_index=False)[0].agg(['count']).reset_index().head(50)

CPU times: user 1.11 s, sys: 466 ms, total: 1.57 s
Wall time: 1.57 s

    19     count
0    0  60730547
1    1   3066730
2    2   1262794
3    3    685732
4    4    428450
5    5    292942
6    6    213683
7    7    162331
8    8    126810
9    9    101474
10  10     81654
11  11     67555
12  12     57098
13  13     48314
14  14     41658
15  15     36013
16  16     31646
17  17     27614
18  18     24727
19  19     22138
20  20     19554
21  21     17835
22  22     16101
23  23     14572
24  24     13356
25  25     12142
26  26     11319
27  27     10369
28  28      9678
29  29      8796
30  30      8133
31  31      7633
32  32      7193
33  33      6688
34  34      6242
35  35      5765
36  36      5446
37  37      5244
38  38      4841
39  39      4475
40  40      4310
41  41      4117
42  42      3769
43  43      3634
44  44      3399
45  45      3259
46  46      3135
47  47      2912
48  48      2758
49  49      2736

In [7]:
%%time
df_MAG_filter[18].hist()